.crowselContainer {
    padding: 0;
    margin: 20px 0;
    height: 60vh;
    width: 100vw;
    /* border: 2px solid crimson; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(231, 229, 229);
    overflow-x: hidden;
    position: relative;
    transition:  scroll 0.3s ease;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-10%);
    }

    20% {
        transform: translateX(-40%);
    }

    30% {
        transform: translateX(-60%);
    }

    40% {
        transform: translateX(-80%);
    }

    50% {
        transform: translateX(-100%);
    }

    60% {
        transform: translateX(-90%);
    }

    65% {
        transform: translateX(-80%);
    }

    70% {
        transform: translateX(-70%);
    }

    75% {
        transform: translateX(-60%);
    }

    80% {
        transform: translateX(-40%);
    }

    85% {
        transform: translateX(-30%);
    }

    90% {
        transform: translateX(-20%);
    }

    95% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0);
    }

}


.crowselImg {
    /* border: 2px solid green; */
    width: 100vw;
    height: 58vh;
 animation: scroll 25s infinite linear;
}

.crowselImg>img {
    width: 100vw;
    height: 100%;
}

.leftBtn {
    position: fixed;
    left: 0px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 40px;
    font-weight: 800;
    color: #000;
    cursor: pointer;
    background-color: white;
    height: 60px;

}

.leftBtn:hover {
    color: #1c1b1b;

}

.rightBtn {
    position: fixed;
    right: 0px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 40px;
    font-weight: 800;
    color: #000;
    cursor: pointer;
    background-color: white;
    height: 60px;
}

.rightBtn:hover {
    color: #1c1b1b;
}